extends base

block content
    h1.playlist-title.hidden= playlistName
    .playlist-buttons
        button.back-button back
        button.switch-previews
            .previews-switch
            svg.switch-icon.grid-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6")
                path(fill-rule="evenodd" d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z" clip-rule="evenodd")
            svg.switch-icon.text-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6")
                path(fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd")

    .playlist 
        each song in playlist 
            .song.hidden
                img.song-image(src=`${song.img}`)
                .song-details
                    p.song-name= song.name
                    p.song-artist= song.artist
    .playlist-list 
        each song in playlist 
            .song-list
                img.song-image.list-image(src=`${song.img}`)
                div.hidden-details
                    p= playlist.indexOf(song)+ 1 + " "
                div.hidden-details
                    p.song-name= song.name + " | " 
                div.hidden-details
                    p.song-artist= song.artist + " | "
                hr.list-separator
    .dbPlaylist
        p= dbPlaylist.songs
    .spotify-buttons
        if dbPlaylist.created === true
            a.open-playlist(href=`${dbPlaylist.createdUrl}` target="_blank")
                div.span open
                    img(src='/images/Spotify_icon.svg' width="50px")
        else
            button.spotify-playlist-submit
                span create
                    img(src='/images/Spotify_icon.svg' width="50px")